{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/components/topics.css' %}" />
  </head>
  <body>
    <div class="topics">
      <div class="top">
        <p class="title">BROWSE TOPICS</p>
        <i class="fa-solid fa-chevron-up toggle"></i>
      </div>
      <form class="form" method="GET" action="{% url 'home' %}">
        <div class="item">
          <input type="submit" class="name" name="topic" value="All" />
          <p class="count">{{ all_rooms_count }}</p>
        </div>
        {% for topic in pop_topics %}
        <div class="item">
          <input
            type="submit"
            class="name"
            name="topic"
            value="{{ topic.name }}"
          />
          <p class="count">{{ topic.total_room_count }}</p>
        </div>
        {% endfor %}
      </form>
      {% if all_topics|length > 5 %}
      <a href="{% url 'all_topics' %}" class="more"
        >More <i class="fa-solid fa-arrow-down"></i
      ></a>
      {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".top").click(function () {
          $(".toggle").toggleClass("fa-chevron-up fa-chevron-down");
          $(".more").toggleClass("more-show");
          $(".form").toggleClass("form-show");
        });
      });
    </script>
  </body>
</html>
