$color-main: #71c6dd;
$color-main-light: #e1f6fb;
$color-dark: #3f4156;
$color-dark-medium: #51546e;
$color-dark-light: #696d97;
$color-light: #e5e5e5;
$color-gray: #8b8b8b;
$color-light-gray: #b2bdbd;
$color-bg: #2d2d39;
$color-success: #5dd693;
$color-error: #fc4b0b;

html {
  height: 100%;
}
body {
  margin: 0px;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main {
  padding: 20px 160px;
  min-height: calc(100vh - 125px);
  background-color: $color-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  .create-room {
    width: 500px;
    background-color: $color-dark;
    border-radius: 10px;
    .title {
      text-transform: uppercase;
      background-color: $color-dark-light;
      margin: 0px;
      padding: 15px calc(50% - 60px);
      color: $color-light;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    .find {
      margin: 15px 0px 10px 0px;
      padding: 15px calc(50% - 83px);
      color: $color-light;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 0px 30px 20px 30px;
      p {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        select {
          background-color: $color-bg;
          border-radius: 5px;
          padding: 5px;
          option {
            color: $color-light;
            margin-bottom: 3px;
          }
        }
        span {
          color: $color-main;
          ul {
            li {
              color: $color-main;
            }
          }
        }
        label {
          color: $color-light-gray;
          margin-bottom: 10px;
        }
        input {
          padding: 10px;
          border: 1px solid $color-dark-light;
          background: transparent;
          border-radius: 3px;
          color: $color-light;
          font-weight: 500;
          max-width: calc(100% - 21px);
          &:focus {
            border: 1px solid $color-main;
          }
        }
      }
      .submit {
        width: 130px;
        background-color: $color-main;
        color: $color-dark;
        padding: 10px 0px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
        font-weight: 500;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
        i {
          margin-right: 8px;
        }
      }
    }
    .not {
      text-align: center;
      color: $color-light;
      margin-bottom: 30px;
      a {
        text-decoration: none;
        color: $color-main;
      }
    }
  }
}
@media (max-width: 640px) {
  .main {
    flex-direction: column;
    .create-room{
      width: calc(100vw - 120px);
    }
  }
}
