$color-main: #71c6dd;
$color-main-light: #e1f6fb;
$color-dark: #3f4156;
$color-dark-medium: #51546e;
$color-dark-light: #696d97;
$color-light: #e5e5e5;
$color-gray: #8b8b8b;
$color-light-gray: #b2bdbd;
$color-bg: #2d2d39;
$color-success: #5dd693;
$color-error: #fc4b0b;

html {
  height: 100%;
}
body {
  background-color: $color-bg;
  margin: 0px;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main {
  padding: 30px 160px;
  max-height: 700px;
  display: flex;
  justify-content: space-between;
  .room {
    min-width: 870px;
    background-color: $color-dark;
    border-radius: 10px;
    .top {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      background-color: $color-dark-light;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      i {
        color: $color-light;
        margin-right: 12px;
        font-size: 18px;
        cursor: pointer;
      }
      .title {
        text-transform: uppercase;
        margin: 0px;
        font-weight: 500;
        color: $color-light;
      }
    }
    .bottom {
      padding: 15px 20px;
      .details {
        margin-bottom: 15px;
        .room-details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-height: 35px;
          .room-name {
            color: $color-main;
            font-weight: 500;
            font-size: 25px;
            margin: 0px;
          }
          .time-past-created {
            color: $color-light-gray;
            font-size: 15px;
          }
        }
        .hosted {
          text-transform: uppercase;
          margin: 10px 0px;
          color: $color-gray;
          font-weight: 500;
          font-size: 13px;
        }
        .user-created {
          display: flex;
          align-items: center;
          text-decoration: none;
          margin-bottom: 3px;
          $image-height: 30px;
          .profile-image {
            display: flex;
            position: relative;
            max-height: $image-height;
            margin-right: 10px;
            img {
              height: $image-height;
              width: $image-height;
              border-radius: 50%;
              border: 2px solid $color-main;
            }
            .dot {
              height: 9px;
              width: 9px;
              border: 2px solid $color-dark;
              background-color: $color-gray;
              border-radius: 50%;
              position: absolute;
              right: -4px;
              bottom: -4px;
            }
          }
          .name {
            margin: 0px;
            color: $color-main;
          }
        }
        .last {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .topics {
            display: flex;
            .topic {
              color: $color-light;
              background-color: $color-dark-light;
              padding: 8px 12px;
              border-radius: 20px;
              font-size: 14px;
              margin-right: 12px;
              box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            }
          }
          .join {
            .submit {
              background-color: $color-dark-light;
              color: $color-main;
              border: none;
              padding: 8px 12px;
              border-radius: 5px;
              cursor: pointer;
              box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
              i {
                color: $color-main;
              }
            }
          }
        }
      }
      .chat {
        $min-max-chat-height: 360px;
        min-height: $min-max-chat-height;
        max-height: $min-max-chat-height;
        padding: 20px 0px 0px 20px;
        overflow-y: auto;
        background-color: $color-bg;
        position: relative;
        .messages {
          .new-day {
            border-top: 1px solid $color-light;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            margin-top: 35px;
            width: calc(100% - 4px);
            .new-day-date {
              text-align: center;
              padding: 5px;
              background-color: $color-bg;
              margin-top: -22px;
              width: 150px;
              color: $color-light;
              font-size: 15px;
            }
          }
          .message {
            border-left: 2px solid $color-dark;
            padding: 0px 15px;
            margin-bottom: 20px;
            .details {
              display: flex;
              align-items: center;
              justify-content: space-between;
              max-width: 270px;
              margin-bottom: 10px;
              .user-sent {
                display: flex;
                align-items: center;
                text-decoration: none;
                margin-bottom: 5px;
                $image-height: 28px;
                .profile-image {
                  display: flex;
                  position: relative;
                  max-height: $image-height;
                  margin-right: 10px;
                  img {
                    height: $image-height;
                    width: $image-height;
                    border-radius: 50%;
                    border: 2px solid $color-main;
                  }
                  .dot {
                    height: 9px;
                    width: 9px;
                    border: 2px solid $color-dark;
                    background-color: $color-gray;
                    border-radius: 50%;
                    position: absolute;
                    right: -4px;
                    bottom: -4px;
                  }
                }
                .name {
                  margin: 0px;
                  color: $color-main;
                  font-size: 14px;
                }
              }
              .time-past-sent {
                margin: -5px 0px 0px 0px;
                color: $color-light-gray;
                font-size: 14px;
              }
            }
            .message-text {
              color: $color-light-gray;
              font-size: 14px;
              margin: 0px;
            }
            .code-area {
              position: relative;
              i{
                position: absolute;
                left: calc(600px - 10px);
                top: 15px;
                color: $color-light;
                cursor: pointer;
              }
              .message-code {
                overflow: auto;
                padding: 10px;
                max-width: 600px;
                max-height: 330px;
                background-color: $color-dark-light;
                color: $color-light;
              }
            }
          }
        }
        .write-message {
          position: sticky;
          padding: 15px 0px 0px 0px;
          width: 100%;
          background-color: $color-bg;
          z-index: 1;
          .message-top {
            display: flex;
            align-items: center;
            .text {
              width: 100%;
              padding: 12px 10px;
              margin-bottom: -5px;
              background-color: $color-dark-light;
              color: $color-light;
              border-top-left-radius: 5px;
              margin-left: -20px;
              border: 1px solid $color-dark;
              &::placeholder {
                color: $color-light;
              }
            }
            .right {
              display: flex;
              align-items: center;
              background-color: $color-dark-light;
              padding-right: 10px;
              margin-bottom: -6px;
              border-top-right-radius: 5px;
              .add-code {
                margin: 0px 15px;
                width: 130px;
                height: 30px;
                color: $color-light;
                background-color: $color-dark;
                border: none;
                border-radius: 5px;
                cursor: pointer;
              }
              .send-message {
                height: 40px;
                width: 40px;
                margin-right: -10px;
                color: $color-light;
                background-color: $color-dark;
                border: none;
                border-radius: 5px;
                cursor: pointer;
              }
            }
          }
          .code {
            display: none;
            width: calc(100% - 2px);
            padding: 12px 10px;
            background-color: $color-dark-light;
            color: $color-light;
            border-top-left-radius: 5px;
            margin-left: -20px;
            border: 1px solid $color-dark;
            &::placeholder {
              color: $color-light;
            }
          }
        }
      }
    }
  }
  .participants {
    width: 300px;
    .top {
      display: flex;
      align-items: center;
      padding: 12px 20px;
      background-color: $color-dark-light;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      i {
        margin: 0px;
        color: $color-light;
        font-size: 14px;
      }
      .title {
        margin: 0px 10px;
        color: $color-light;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
      .count {
        margin: 0px;
        color: $color-main;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .bottom {
      $min-max-chat-height: 575px;
      min-height: $min-max-chat-height;
      max-height: $min-max-chat-height;
      padding: 20px;
      overflow-y: auto;
      background-color: $color-bg;
      position: relative;
      background-color: $color-dark;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      .participant {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-bottom: 15px;
        $image-height: 32px;
        .profile-image {
          display: flex;
          position: relative;
          max-height: $image-height;
          margin-right: 10px;
          img {
            height: $image-height;
            width: $image-height;
            border-radius: 50%;
            border: 2px solid $color-main;
          }
          .dot {
            height: 9px;
            width: 9px;
            border: 2px solid $color-dark;
            background-color: $color-gray;
            border-radius: 50%;
            position: absolute;
            right: -4px;
            bottom: -4px;
          }
        }
        .info {
          .full-name {
            margin: 0px;
            color: $color-gray;
            font-size: 13.4px;
          }
          .username {
            margin: 0px;
            color: $color-main;
          }
        }
      }
      .participant.host {
        img {
          border: 2px solid $color-error;
        }
      }
    }
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset $color-bg;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, $color-dark-light),
    // Light yellow
    color-stop(0.72, $color-dark-light),
    // Orange
    color-stop(0.86, $color-dark-light)
  );
}
@media (max-width: 640px) {
  .main {
    padding: 20px 30px 40px 30px;
    max-height: 1500px;
    flex-direction: column;
    align-items: center;
    .room {
      min-width: calc(100vw - 60px);
      margin-bottom: 30px;
    }
    .participants {
      width: calc(100vw - 60px);
      .bottom {
        $min-max-chat-height: 350px;
        min-height: $min-max-chat-height;
        max-height: $min-max-chat-height;
      }
    }
  }
}
