{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-02670e9412103b5852dcbe140d278c49.css?vsn=d"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyBuddy | Room: {{ room.name }}</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/logo.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/base/room.css' %}" />
    <!-- <meta http-equiv="refresh" content="1" /> -->
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="main">
      <div class="room">
        <div class="top">
          <i class="fa-regular fa-arrow-left"></i>
          <p class="title">study room</p>
        </div>
        <div class="bottom">
          <div class="details">
            <div class="room-details">
              <p class="room-name">{{ room.name }}</p>
              <p class="time-past-created">
                {{ room.date_created|timesince }} ago
              </p>
            </div>
            <p class="hosted">hosted by</p>
            <a
              class="user-created"
              href="{% url 'accounts:user_details' room.user_created.id %}"
            >
              <div class="profile-image">
                <img src="{{ room.user_created.avatar.url }}" alt="" />
                <div
                  class="dot{% if room.user_connected_recently %} connected{% endif %}"
                ></div>
              </div>
              <p class="name">@{{ room.user_created.username }}</p>
            </a>
            <div class="last">
              <div class="topics">
                {% for topic in room.topics.all %}
                <p class="topic">{{ topic }}</p>
                {% endfor %}
              </div>
              {% if not user_in_room %}
              <form
                class="join"
                method="post"
                action="{% url 'join_room' room.id %}"
              >
                {% csrf_token %}
                <button class="submit" type="submit">
                  <i class="fa-solid fa-user-plus"></i> Join
                </button>
              </form>
              {% else %}
              <form
                class="join"
                method="post"
                action="{% url 'leave_room' room.id %}"
              >
                {% csrf_token %}
                <button class="submit" type="submit">
                  <i class="fa-solid fa-user-minus"></i> Leave
                </button>
              </form>
              {% endif %}
            </div>
          </div>
          <div class="chat">
            {% if user_in_room %}
            <div class="messages">
              {% for message in messages %} {% if message.new_day %}
              <div class="new-day">
                <p class="new-day-date">
                  {{ message.date_sent|date:"F j, Y" }}
                </p>
              </div>
              {% endif %}
              <div class="message">
                <div class="details">
                  <a
                    class="user-sent"
                    href="{% url 'accounts:user_details' message.user.id %}"
                  >
                    <div class="profile-image">
                      <img src="{{ message.user.avatar.url }}" alt="" />
                      <div
                        class="dot{% if message.user_connected_recently %} connected{% endif %}"
                      ></div>
                    </div>
                    <p class="name">@{{ message.user.username }}</p>
                  </a>
                  <p class="time-past-sent">
                    {{ message.date_sent|timesince }}
                  </p>
                </div>
                <p class="message-text">{{ message.text }}</p>
                {% if message.code %}
                <div class="code-area">
                  <i
                    class="fa-regular fa-copy copy-code"
                    onclick="copyCode('{{ message.code }}')"
                  ></i>
                  <pre
                    class="message-code"
                  ><code>{{ message.code }}</code></pre>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
            <form class="write-message" action="" method="post">
              <div class="message-top">
                {% csrf_token %}
                <input
                  type="text"
                  name="text"
                  class="text"
                  placeholder="Write your message here..."
                />
                <div class="right">
                  <button type="button" class="add-code">+ Add Code</button>
                  <button type="submit" class="send-message">
                    <i class="fa-sharp fa-solid fa-paper-plane-top"></i>
                  </button>
                </div>
              </div>
              <textarea
                name="code"
                class="code"
                placeholder="add your code here..."
              ></textarea>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="participants">
        <div class="top">
          <i class="fa-solid fa-user-group"></i>
          <p class="title">participants</p>
          <p class="count">({{ room.participants.count }} Joined)</p>
        </div>
        <div class="bottom">
          <a
            class="participant host"
            href="{% url 'accounts:user_details' room.user_created.id %}"
          >
            <div class="profile-image">
              <img src="{{ room.user_created.avatar.url }}" alt="" />
              <div
                class="dot{% if room.user_created.id.user_connected_recently %} connected{% endif %}"
              ></div>
            </div>
            <div class="info">
              <p class="full-name">{{ room.user_created.full_name }}</p>
              <p class="username">@{{ room.user_created.username }}</p>
            </div>
          </a>
          {% for participant in participants %}
          <a
            class="participant"
            href="{% url 'accounts:user_details' participant.id %}"
          >
            <div class="profile-image">
              <img src="{{ participant.avatar.url }}" alt="" />
              <div
                class="dot{% if participant.user_connected_recently %} connected{% endif %}"
              ></div>
            </div>
            <div class="info">
              <p class="full-name">{{ participant.full_name }}</p>
              <p class="username">@{{ participant.username }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        const previousUrl = document.referrer;
        const backButton = $(".fa-arrow-left");

        backButton.click(function () {
          if (previousUrl && previousUrl.startsWith(window.location.origin)) {
            history.back();
          } else {
            window.location.href = "{% url 'home' %}";
          }
        });

        var objDiv = $(".chat");
        objDiv.scrollTop(objDiv.prop("scrollHeight"));

        // Toggle code input on Add Code button click
        $(".add-code").click(function () {
          const codeInput = $(".code");
          const addCodeButton = $(".add-code");

          codeInput.toggle();
          addCodeButton.text(function (i, text) {
            return text === "+ Add Code" ? "- Remove Code" : "+ Add Code";
          });
          objDiv.scrollTop(objDiv.prop("scrollHeight"));
        });
      });
      function copyCode(code) {
        var copyText = code;
        navigator.clipboard.writeText(copyText);
        alert("Copied the code: " + copyText);
      }
    </script>
  </body>
</html>
