html {
  height: 100%;
}

body {
  background-color: #2d2d39;
  margin: 0px;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #3f4156;
  padding: 10px 160px 20px 160px;
}
.navbar .logo {
  display: flex;
  align-items: center;
  margin-right: 10%;
  text-decoration: none;
}
.navbar .logo img {
  height: 30px;
}
.navbar .logo .text {
  margin-left: 15px;
  font-size: 20px;
  color: #e5e5e5;
  font-weight: 700;
}
.navbar form {
  position: relative;
}
.navbar form i {
  color: #8b8b8b;
  position: absolute;
  top: 10px;
  left: 12px;
  font-size: 21px;
  font-weight: 400;
}
.navbar form .search {
  background-color: #50556e;
  color: white;
  border: none;
  padding: 14px 45px;
  font-size: 15px;
  width: 360px;
  border-radius: 5px;
}
.navbar .login {
  margin-left: 30%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8b8b8b;
}
.navbar .login .hello {
  font-size: 15px;
}
.navbar .login .name {
  color: #71c6dd;
}
.navbar .login .profile-image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #71c6dd;
}
.navbar .login i {
  font-size: 34px;
}
.navbar .login .text {
  margin: 0px;
  margin-left: 8px;
  font-size: 17px;
}

.main {
  padding: 20px 160px;
  display: flex;
  justify-content: space-between;
}
.main .topics {
  width: 200px;
}
.main .topics .title {
  color: #696d97;
  margin: 0px;
}
.main .topics .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.main .topics .item .name {
  color: #b2bdbd;
  margin: 0px;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  width: 200px;
  text-align: left;
  padding: 20px 0px;
}
.main .topics .item .name:hover {
  color: #71c6dd;
}
.main .topics .item .name:hover ~ .count {
  color: #71c6dd;
}
.main .topics .item .count {
  color: #b2bdbd;
  background-color: #3f4156;
  padding: 5px 10px;
  border-radius: 3px;
}
.main .topics .clicked .name {
  color: #71c6dd;
}
.main .topics .clicked .count {
  color: #71c6dd;
}
.main .topics .more {
  color: #71c6dd;
  text-decoration: none;
}
.main .topics .more i {
  margin-left: 5px;
}
.main .topics .more:hover {
  border-bottom: 1px solid #71c6dd;
}
.main .rooms {
  width: 580px;
}
.main .rooms .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .rooms .top .left {
  text-decoration: none;
}
.main .rooms .top .left .title {
  color: #e5e5e5;
  font-size: 16px;
  margin: 0px;
  font-weight: 500;
}
.main .rooms .top .left .rooms-available {
  color: #696d97;
  font-size: 15px;
  margin: 0px;
  margin-top: 5px;
  font-weight: 500;
}
.main .rooms .top .create {
  color: #3f4156;
  background-color: #71c6dd;
  padding: 12px 18px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}
.main .rooms .top .create i {
  margin-right: 2px;
}
.main .rooms .items {
  margin-top: 20px;
}
.main .rooms .items .item {
  padding: 20px;
  background-color: #3f4156;
  border-radius: 10px;
  margin-bottom: 25px;
}
.main .rooms .items .item .top {
  display: flex;
  align-items: center;
  max-height: 40px;
}
.main .rooms .items .item .top .left {
  display: flex;
  align-items: center;
}
.main .rooms .items .item .top .left .profile-image {
  display: flex;
  position: relative;
  margin-right: 10px;
  max-height: 32px;
}
.main .rooms .items .item .top .left .profile-image img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #71c6dd;
}
.main .rooms .items .item .top .left .profile-image .dot {
  height: 9px;
  width: 9px;
  border: 2px solid #3f4156;
  background-color: #8b8b8b;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  bottom: -4px;
}
.main .rooms .items .item .top .left .name {
  color: #71c6dd;
  margin: 0px;
}
.main .rooms .items .item .top .time-past-created {
  color: #e5e5e5;
  font-size: 14px;
}
.main .rooms .items .item .room-name {
  color: #e5e5e5;
  margin: 15px 0px 20px 0px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.main .rooms .items .item .room-name:hover {
  color: #71c6dd;
}
.main .rooms .items .item .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #51546e;
  padding-top: 10px;
}
.main .rooms .items .item .bottom .left {
  display: flex;
  align-items: center;
}
.main .rooms .items .item .bottom .left i {
  margin-right: 8px;
  color: #71c6dd;
}
.main .rooms .items .item .bottom .left .people-count {
  color: #b2bdbd;
  margin: 0px;
}
.main .rooms .items .item .bottom .topic {
  margin: 0px;
  color: #b2bdbd;
  background-color: #51546e;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
}
.main .recent_activities {
  width: 300px;
  border-radius: 5px;
  background-color: #3f4156;
}
.main .recent_activities .title {
  color: #e5e5e5;
  background-color: #696d97;
  padding: 10px 15px;
  margin: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  letter-spacing: 0.8px;
}
.main .recent_activities .items {
  padding: 15px;
  height: 100%;
}
.main .recent_activities .items .item {
  padding: 15px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #51546e;
}
.main .recent_activities .items .item .profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 5px;
}
.main .recent_activities .items .item .profile .profile-image {
  display: flex;
  position: relative;
  max-height: 32px;
  margin-right: 10px;
}
.main .recent_activities .items .item .profile .profile-image img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #71c6dd;
}
.main .recent_activities .items .item .profile .profile-image .dot {
  height: 9px;
  width: 9px;
  border: 2px solid #3f4156;
  background-color: #8b8b8b;
  border-radius: 50%;
  position: absolute;
  right: -4px;
  bottom: -4px;
}
.main .recent_activities .items .item .profile .info .name {
  margin: 0px;
  color: #71c6dd;
}
.main .recent_activities .items .item .profile .info .time-past-sent {
  margin: 0px;
  color: #8b8b8b;
  font-size: 13.4px;
}
.main .recent_activities .items .item .reply,
.main .recent_activities .items .item .room {
  margin: 0px;
  color: #b2bdbd;
  margin-left: 40px;
  font-size: 14px;
}
.main .recent_activities .items .item .room {
  color: #71c6dd;
  text-decoration: none;
}
.main .recent_activities .items .item .message {
  width: 226px;
  max-width: 226px;
  background-color: #2d2d39;
  color: white;
  padding: 8px;
  font-size: 14px;
}
.main .recent_activities .items .item:nth-last-child(-1) {
  margin-bottom: 0px;
}/*# sourceMappingURL=home.css.map */