$color-main: #71c6dd;
$color-main-light: #e1f6fb;
$color-dark: #3f4156;
$color-dark-medium: #51546e;
$color-dark-light: #696d97;
$color-light: #e5e5e5;
$color-gray: #8b8b8b;
$color-light-gray: #b2bdbd;
$color-bg: #2d2d39;
$color-success: #5dd693;
$color-error: #fc4b0b;

.topics {
  width: 200px;
  .top {
    .title {
      color: $color-dark-light;
      margin: 0px;
    }
    .toggle {
      display: none;
    }
  }
  .form {
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .name {
        color: $color-light-gray;
        margin: 0px;
        text-decoration: none;
        background: none;
        border: none;
        font-size: 17px;
        cursor: pointer;
        width: 200px;
        text-align: left;
        padding: 20px 0px;
        &:hover {
          color: $color-main;
        }
        &:hover ~ .count {
          color: $color-main;
        }
      }
      .count {
        color: $color-light-gray;
        background-color: $color-dark;
        padding: 5px 10px;
        border-radius: 3px;
      }
    }
    .clicked {
      .name {
        color: $color-main;
      }
      .count {
        color: $color-main;
      }
    }
  }
  .more {
    color: $color-main;
    text-decoration: none;
    i {
      margin-left: 5px;
    }
    &:hover {
      border-bottom: 1px solid $color-main;
    }
  }
}
@media (max-width: 500px) {
  .topics {
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-dark-light;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100vw - 50px);
      .toggle {
        display: block;
        color: $color-dark-light;
      }
    }
    .form {
      display: none;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 10px;
      column-gap: 30px;
      .item {
        min-width: calc((100vw / 3) - 38px);
      }
    }
    .form-show {
      display: grid;
    }
    .more {
      display: none;
    }
    .more-show {
      display: block;
    }
  }
}
