{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-02670e9412103b5852dcbe140d278c49.css?vsn=d"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-solid.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-regular.css"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.4.2/css/sharp-light.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyBuddy | Home</title>
    <link
      rel="shortcut icon"
      href="{% static 'images/logo.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/base/room.css' %}" />
    <!-- <meta http-equiv="refresh" content="1" /> -->
  </head>
  <body>
    {% include 'base/components/navbar.html' %}
    <div class="main">
      <div class="room">
        <div class="top">
          <i class="fa-regular fa-arrow-left"></i>
          <p class="title">study room</p>
        </div>
        <div class="bottom">
          <div class="details">
            <div class="room-details">
              <p class="room-name">{{ room.name }}</p>
              <p class="time-past-created">
                {{ room.date_created|timesince }} ago
              </p>
            </div>
            <p class="hosted">hosted by</p>
            <a
              class="user-created"
              href="{% url 'accounts:user_details' room.user_created.id %}"
            >
              <div class="profile-image">
                <img src="{{ room.user_created.profile_image.url }}" alt="" />
                <div
                  class="dot{% if room.user_connected_recently %} connected{% endif %}"
                ></div>
              </div>
              <p class="name">@{{ room.user_created.username }}</p>
            </a>
            <div class="last">
              <div class="topics">
                {% for topic in room.topics.all %}
                <p class="topic">{{ topic }}</p>
                {% endfor %}
              </div>
              <form
                class="join"
                method="post"
                action="{% url 'join_room' room.id %}"
              >
                {% csrf_token %}
                <button class="submit" type="submit">
                  <i class="fa-solid fa-user-plus"></i> Join
                </button>
              </form>
            </div>
          </div>
          <div class="chat">
            <div class="messages">
              {% for message in messages %}
              <div class="message">
                <div class="details">
                  <a
                    class="user-sent"
                    href="{% url 'accounts:user_details' message.user.id %}"
                  >
                    <div class="profile-image">
                      <img src="{{ message.user.profile_image.url }}" alt="" />
                      <div
                        class="dot{% if message.user_connected_recently %} connected{% endif %}"
                      ></div>
                    </div>
                    <p class="name">@{{ message.user.username }}</p>
                  </a>
                  <p class="time-past-sent">
                    {{ message.date_sent|timesince }}
                  </p>
                </div>
                <p class="message-text">{{ message.text }}</p>
              </div>
              {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <form class="write-message" action="" method="post">
              {% csrf_token %}
              <input
                type="text"
                name="text"
                placeholder="Write your message here..."
              />
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="participants">
        <div class="top">
          <i class="fa-solid fa-user-group"></i>
          <p class="title">participants</p>
          <p class="count">({{ room.participants.count }} Joined)</p>
        </div>
        <div class="bottom">
          {% for participant in room.participants.all %}
          <a
            class="participant"
            href="{% url 'accounts:user_details' participant.id %}"
          >
            <div class="profile-image">
              <img src="{{ participant.profile_image.url }}" alt="" />
              <div
                class="dot{% if participant.user_connected_recently %} connected{% endif %}"
              ></div>
            </div>
            <div class="info">
              <p class="full-name">
                {{ participant.first_name }} {{ participant.last_name }}
              </p>
              <p class="username">@{{ participant.username }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const previousUrl = document.referrer;
        const backButton = document.querySelector(".fa-arrow-left");

        backButton.onclick = function () {
          if (previousUrl && previousUrl.startsWith(window.location.origin)) {
            history.back();
          } else {
            window.location.href = "{% url 'home' %}";
          }
        };

        var objDiv = document.querySelector(".chat");
        objDiv.scrollTop = objDiv.scrollHeight;
      });
    </script>
  </body>
</html>
